<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../assets/icons8-gps-en-busca-48.png" width="30" height="30" class="d-inline-block align-top" alt="">
        ASCmorse
    </a>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm pt-4">
            <h3>Mode</h3>
            <br>
            <div class="btn-group w-100" role="group" aria-label="Basic example">
                <button type="button"
                    [class]="mode.content === 'message' ? 'btn btn-primary active' : 'btn btn-primary'"
                    (click)="activeMessageMode()">Message</button>
                <button type="button" [class]="mode.content === 'am' ? 'btn btn-primary active' : 'btn btn-primary'"
                    (click)="activeAsciiMorseMode()">A → M</button>
                <button type="button" [class]="mode.content === 'ma' ? 'btn btn-primary active' : 'btn btn-primary'"
                    (click)="activeMorseAsciiMode()">M → A</button>
                <button type="button" [class]="mode.content === 'play' ? 'btn btn-primary active' : 'btn btn-primary'"
                    (click)="activePlayMode()">Play</button>
            </div>
            <form [formGroup]="sendForm" (ngSubmit)=onSubmit(sendForm.value)>
                <br>
                <br>
                <h3>Send</h3>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Text" formControlName="text"
                        value="chuta">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="isPlay" formControlName="type">
                    <label class="form-check-label" for="isPlay">Play</label>
                </div>
                <br>
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </form>
            <br>
            Current
            <table class="table table-borderless table-dark">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Content</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="currentNormal">
                        <td>{{currentNormal.date}}</td>
                        <td>{{currentNormal.content}}</td>
                        <td>Normal</td>
                    </tr>
                    <tr *ngIf="currentPlay">
                        <td>{{currentPlay.date}}</td>
                        <td>{{currentPlay.content}}</td>
                        <td>Play</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm pt-4">
            <h3>Sended</h3>
            <br>
            Normal
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of sendedNormalItems; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.date}}</td>
                        <td>{{item.content}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            Play
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of sendedPlayItems; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.date}}</td>
                        <td>{{item.content}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm pt-4">
            <h3>Recieved</h3>
            <br>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of recievedItems; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.date}}</td>
                        <td>{{item.content}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>